<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.enhancedswitcherclose</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dgh0st.enhancedswitcherclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Home Screen Settings</string>
			<key>detail</key>
			<string>ESCHomeListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Default Application Settings</string>
			<key>detail</key>
			<string>ESCDefaultAppsListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Applications Settings</string>
			<key>detail</key>
			<string>ESCAppsListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Customize Feature Settings</string>
			<key>detail</key>
			<string>ESCCustomizeListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Personalize Settings</string>
			<key>detail</key>
			<string>ESCPersonalizeListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Enjoy the tweak :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>email</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>follow</string>
			<key>label</key>
			<string>Follow on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>EnhancedSwitcherClose © 2017 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>ESC</string>
</dict>
</plist>
